@page
@model mission9_evans18.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase! Your order will arrive at your home soon</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
